
.hero-container{
    background: url(./images/Untitled.jpg) center center/cover no-repeat;
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    justify-content: center;
}

.hero-container h1:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 3px;
  }


  .hero-container h2:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 3px;
}
.hero-container p:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 3px;
}


.hero-container > h1{
    color: #fff;
    font-size: 62px;
    margin-top: -100px;
    margin-left: 500px;
    transition: 700ms ease;

}
.hero-container >h2{
     color: #fff;
    font-size: 62px;
    margin-top: 8px;
    margin-left: 500px;
    transition: 700ms ease;
}
.hero-container > p{
    margin-top: 8px;
    margin-left: 500px;
    color:#fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 700ms ease;
}

.hero-btns{
    margin-top: 32px;
    margin-left: 500px;
}
.hero-btns .btn{
    margin: 6px;
   
}

button{
   
    font-size: 16px;
    padding: 14px 40px;
 transition-duration: 0.4s;
}
      
button:hover {
    background-color:#4CAF50; /* Green */
    color: white;
      }
